<template>
  <div id="main">
    <toggleFav
      id="addToFav"
      v-bind:payload="{
        recipeId: recipe._id,
        recipeLanguage: recipe.language,
        fontColor: fontColor
      }"
    />
    <router-link :to="'/recipe/?lang=' + recipe.language + '&id=' + recipe._id">
      <div id="title">
        <!-- <img :src="API_URL + recipe.preview_src" alt="" /> -->
        <div id="container">
          <img :src="recipe.preview_src" alt="" />
          <div id="overlap">{{ recipe.title }}</div>
        </div>
        <div id="ttl" :style="{ 'background-color': bgc, color: fontColor }">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              width="1.25rem"
              height="1.25rem"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M15.07 1.01h-6v2h6v-2zm-4 13h2v-6h-2v6zm8.03-6.62l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.14 4.74 14.19 4 12.07 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.11-.74-4.06-1.97-5.61zm-7.03 12.62c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"
              />
            </svg>
            {{ recipe.time }}
          </span>
          <span>от {{ recipe.author }}</span>
          <span
            >{{ recipe.rating }}/5

            <!-- <svg xmlns="http://www.w3.org/2000/svg" height="1.25rem" fill="currentColor" viewBox="0 0 24 24" width="1.25rem"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"/></svg> -->

            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1.25rem"
              fill="currentColor"
              viewBox="0 0 24 24"
              width="1.25rem"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M12 7.13l.97 2.29.47 1.11 1.2.1 2.47.21-1.88 1.63-.91.79.27 1.18.56 2.41-2.12-1.28-1.03-.64-1.03.62-2.12 1.28.56-2.41.27-1.18-.91-.79-1.88-1.63 2.47-.21 1.2-.1.47-1.11.97-2.27M12 2L9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2z"
              />
            </svg>
          </span>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
import { API_URL } from "../urls";
import toggleFav from "./toggleFav";

export default {
  name: "card",
  props: {
    recipe: {
      type: Object
    }
  },
  components: {
    toggleFav
  },
  data() {
    return {
      API_URL,
      bgc: "#ccc",
      fontColor: "black"
    };
  },
  methods: {
    getAverageColor() {
      let img = document.createElement("img");
      img.setAttribute("src", this.recipe.preview_src);

      let canvas = document.createElement("canvas");
      let ctx = canvas.getContext("2d");
      let width = (canvas.width = 1);
      let height = (canvas.height = 1);

      ctx.drawImage(img, 0, 0);

      let imageData = ctx.getImageData(0, 0, width, height);
      let data = imageData.data;
      let r = 0;
      let g = 0;
      let b = 0;

      for (let i = 0, l = data.length; i < l; i += 4) {
        r += data[i];
        g += data[i + 1];
        b += data[i + 2];
      }

      r = Math.floor(r / (data.length / 4));
      g = Math.floor(g / (data.length / 4));
      b = Math.floor(b / (data.length / 4));

      let hsp = Math.sqrt(0.299 * (r * r) + 0.587 * (g * g) + 0.114 * (b * b));
      this.fontColor = hsp > 127.5 ? "#1c1c1c" : "#f2f2f2";
      this.bgc = "rgb(" + r + "," + g + "," + b + ")";
    }
  },
  mounted() {
    this.getAverageColor();
  }
};
</script>

<style scoped>
img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  display: block;
}
#ttl {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  color: rgb(180, 115, 115);
}
#container {
  position: relative;
  z-index: -1;
}
#overlap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  padding: 1rem;
  background-color: rgba(10, 10, 10, 0.425);
  color: #ccc;
  font-size: 1.25rem;
  text-align: start;
}
span > svg {
  position: relative;
  top: 0.2rem;
}
#addToFav {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#main {
  position: relative;
}
a {
  cursor: default;
}
</style>
