<template>
  <div id="pageSwitch">
    <div id="buttons">
      <button class="backAndForward" @click="prev" :disabled="!isPrevActive">
        &lt;
      </button>
      <input
        type="number"
        name="currentPage"
        id="currentPage"
        :max="pages"
        min="1"
        v-model="pageNo"
        @keypress="goto"
      />
      из {{ pages }}
      <button class="backAndForward" @click="next" :disabled="!isNextActive">
        &gt;
      </button>
    </div>
  </div>
</template>

<script>
// import { mapState } from "vuex";

export default {
  name: "pageSwitch",
  props: {
    pages: {
      type: Number
    }
  },
  data() {
    return {
      size: 12,
      pageNo: 1,
      queryString: String
    };
  },
  computed: {
    isPrevActive() {
      if (this.pageNo <= 1) return false;
      else return true;
    },
    isNextActive() {
      if (this.pageNo >= this.pages) return false;
      else return true;
    }
    // ...mapState({
    //   pages: state => state.allRecipes.pages
    // })
  },
  methods: {
    goto(event) {
      if (
        event.key === "Enter" &&
        this.pageNo <= this.pages &&
        this.pageNo >= 1
      ) {
        this.queryString = "?size=" + this.size + "&pageNo=" + this.pageNo;
        this.$emit("pageChanged", this.queryString);
      }
    },
    next() {
      if (this.pageNo > this.pages) this.pageNo = this.pages;
      else if (this.pageNo < 1) this.pageNo = 1;
      else this.pageNo++;
      this.queryString = "?size=" + this.size + "&pageNo=" + this.pageNo;
      this.$emit("pageChanged", this.queryString);
    },
    prev() {
      if (this.pageNo > this.pages) this.pageNo = this.pages;
      else if (this.pageNo < 1) this.pageNo = 1;
      else this.pageNo--;
      this.queryString = "?size=" + this.size + "&pageNo=" + this.pageNo;
      this.$emit("pageChanged", this.queryString);
    }
  }
};
</script>

<style scoped>
#buttons {
  font-size: 1.25rem;
}

#buttons * {
  display: inline;
  font-size: 1.25rem;
  margin: 5px;
}
.backAndForward {
  box-shadow: none;
  border: 2px solid var(--green);
  color: var(--green);
  background-color: var(--back);
}
input {
  text-align: end;
  border: none;
  outline: var(--green);
  color: var(--text);
  background-color: var(--back);
}
</style>
