<template>
  <div id="toggleFav" @click="toggleFav">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      v-if="!isFav"
      viewBox="0 0 24 24"
      :fill="payload.fontColor"
      width="1.25rem"
      height="1.25rem"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      v-else
      viewBox="0 0 24 24"
      :fill="payload.fontColor"
      width="1.25rem"
      height="1.25rem"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
  </div>
</template>

<script>
import { API_URL } from "../urls";

import { mapActions } from "vuex";

export default {
  name: "toggleFav",
  props: {
    payload: {
      type: Object
    }
  },
  data() {
    return {
      //   isFav: false
    };
  },
  methods: {
    async toggleFav() {
      if (!localStorage.getItem("Authorization"))
        return this.$router.push("/auth");
      const rawResponse = await fetch(API_URL + "/users/favourites", {
        method: "PUT",
        headers: {
          "Accept-Language": "ru",
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("Authorization")
        },
        body: JSON.stringify({
          _id: this.payload.recipeId,
          language: this.payload.recipeLanguage
        })
      });
      const response = await rawResponse.json();
      if (rawResponse.status !== 200) window.console.log(response);

      //   if (this.isFav) {
      //     this.$store.state.allRecipes.favs.splice(
      //       this.$store.state.allRecipes.favs.indexOf({
      //         _id: this.payload.recipeId,
      //         language: this.payload.recipeLanguage
      //       }),
      //       1
      //     );
      //   } else {
      //     this.$store.state.allRecipes.favs.push({
      //       _id: this.payload.recipeId,
      //       language: this.payload.recipeLanguage
      //     });
      //   }

      this.fetchFavs();

      //   this.isFav = !this.isFav;

      // if (!e) let e = window.event;
      // e.cancelBubble = true;
      // if (e.stopPropagation) e.stopPropagation();
    },
    ...mapActions(["fetchFavs"])
  },
  mounted() {
    this.fetchFavs();
  },
  computed: {
    // heartFill: isFav => isFav ? 'var(--green)' : 'none'
    //   heartFill(){
    //       if (this.isFav === true){
    //           return 'var(--green)'
    //       } else {
    //           return "none"
    //       }
    //   }
    isFav() {
      // return this.$store.getters.isFavGetter({
      //    '_id': this.payload.recipeId,
      //     'language': this.payload.recipeLanguage
      // })
      // ВОзможно some РАБОтает НЕ так , как нужно
      if (
        this.$store.state.allRecipes.favs.some(
          el =>
            el._id === this.payload.recipeId &&
            el.language === this.payload.recipeLanguage
        )
      ) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style scoped>
#toggleFav {
  cursor: pointer;
}
</style>
