<template>
  <div id="onlyadmin">
    <h1>403</h1>
    <h2>Страница доступна только админам!</h2>
    <a @click="$router.go(-1)"> Назад </a>
  </div>
</template>

<style scoped>
#onlyadmin {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: var(--green);
  font-size: 4rem;
}
a:hover {
  color: var(--thumb);
  cursor: pointer;
}
</style>
