<template>
  <div id="search">
    <div id="top">
      <a @click="$router.go(-1)">ПОИСК</a>
    </div>

    <div id="searchByTtl">
      <div class="type">
        <span>по названию</span>
      </div>

      <input
        type="text"
        name="byTtl"
        class="byTtl"
        v-model="title"
        placeholder="...type here..."
        @keyup.enter="searchByTitle"
      />
      <div class="find" @click="searchByTitle" @keyup.enter="searchByTitle">
        найти
      </div>
    </div>

    <div id="searchByIngr">
      <div class="type">
        <span>по ингредиентам</span>
      </div>
      <div id="ingrSearch">
        <input
          type="text"
          placeholder="Search ingredient..."
          v-model="search"
          id="searchBox"
          class="byTtl"
        />
        <div id="prodVar">
          <div
            v-for="i in allIngredients.filter(function(elem) {
              if (
                elem.title.includes(search.toLowerCase()) &&
                elem.invisible !== true
              ) {
                return true;
              } else {
                return false;
              }
            })"
            :key="i.title"
            class="product"
            :style="{ 'border-color': i.color }"
            @click="added(i)"
          >
            {{ i.title }}
          </div>
        </div>
      </div>

      <div id="Added">Выбранные продукты</div>
      <div id="ingrCont">
        <div
          v-for="i in ingredients"
          :key="i._id"
          :style="{ 'border-bottom': '1px solid ' + i.color }"
        >
          <div class="ingredient">
            {{ i.title }}
          </div>
          <div @click="removed(i)" class="ex">⮿</div>
        </div>
      </div>
    </div>
    <div class="find" @click="searchByIngr">Найти рецепты</div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  data() {
    return {
      search: "",
      title: "",
      ingredients: []
    };
  },
  computed: {
    ...mapGetters(["allIngredients"])
  },
  methods: {
    ...mapActions(["fetchIngr"]),
    ...mapMutations(["updateIngredients", "updateTtl"]),
    added(elem) {
      elem.invisible = true;
      this.ingredients.push(elem);
      this.search = "";
    },
    removed(elem) {
      this.allIngredients.find(i => i == elem).invisible = false;
      this.ingredients = this.ingredients.filter(i => i !== elem);
    },
    searchByIngr() {
      if (this.ingredients.length === 0)
        return window.alert("Please, specify ingredients");
      this.updateIngredients({
        ingredients:
          "&prod[]=" +
          this.ingredients.map(elem => elem.title).join("&prod[]="),
        language: "ru"
      });
      this.$router.push("/results");
    },
    searchByTitle() {
      if (this.title.length === 0)
        return window.alert("Please, specify the title");
      this.updateTtl({
        title: "&title=" + this.title,
        language: "ru"
      });
      this.$router.push("/results");
    }
  },
  mounted() {
    this.fetchIngr();
  }
};
</script>

<style scoped>
#top {
  cursor: pointer;
  width: 100%;
  margin: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--back);

  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}
#top > a {
  display: inline-block;
  width: 100%;
}

.type {
  border-bottom: 1px solid var(--green);
  border-top: 1px solid var(--green);
  line-height: 0;
  text-align: center;
  margin: 2rem 0 2rem;
  color: var(--green);
  font-style: italic;
  font-size: 2rem;
}

.type span {
  background-color: var(--back);
  padding: 0 10px;
}

.byTtl {
  font-size: 1.5rem;
  text-align: center;
  width: calc(100% - 10px);
  border: none;
  background-color: var(--back);
  color: var(--text);
  outline: var(--green);
  padding: 5px;
}
.find {
  cursor: pointer;
  max-width: 100px;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  color: var(--thumb);
  background-color: var(--back);
  border: 1px solid var(--thumb);
  border-radius: 2rem;
  transition: border-color 0.25s, box-shadow 0.25s, color 0.25s;
}
.find:hover {
  border-color: var(--green);
  color: var(--green);
  box-shadow: 0px 5px 10px -5px var(--green);
  transition: border-color 0.25s, box-shadow 0.25s, color 0.25s;
}

.product {
  display: inline-block;
  border: 2px solid;
  border-radius: 15px;
  margin: 10px;
  margin-right: 20px;
  margin-left: 0;
  padding: 5px;
}

#ingrSearch {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#prodVar {
  white-space: nowrap;
  overflow-x: scroll;
  margin: 10px;
}
#prodVar::-webkit-scrollbar {
  width: 10px;
}
#prodVar::-webkit-scrollbar-track {
  background: var(--track);
  border-radius: 7px;
}
#prodVar::-webkit-scrollbar-thumb {
  background: var(--thumb);
  /* border: solid 3px #e6e6e6; */
  border-radius: 7px;
}
#prodVar::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

#Added {
  font-size: 1.5rem;
}
#ingrCont {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
}
#ingrCont > div {
  display: flex;
  justify-content: space-between;
}
.ex {
  cursor: pointer;
  font-size: 1rem;
}
</style>
