<template>
  <div :id="$style.main">
    <hr />
    <div id="nav">
      <div id="links">
        <router-link to="/about">
          <svg
            style="margin-top: 0.4rem"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="24px"
            height="24px"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"
            />
          </svg>
        </router-link>
        <router-link to="/">
          ГЛАВНАЯ
        </router-link>
        <router-link to="/favourites">
          ИЗБРАННОЕ
        </router-link>
        <button @click="$emit('change-theme')">
          <svg
            v-if="this.theme === 'light'"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="24px"
            height="24px"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69L23.31 12 20 8.69zm-2 5.79V18h-3.52L12 20.48 9.52 18H6v-3.52L3.52 12 6 9.52V6h3.52L12 3.52 14.48 6H18v3.52L20.48 12 18 14.48zM12 6.5c-3.03 0-5.5 2.47-5.5 5.5s2.47 5.5 5.5 5.5 5.5-2.47 5.5-5.5-2.47-5.5-5.5-5.5zm0 9c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"
            />
          </svg>
          <svg
            v-else
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="24px"
            height="24px"
          >
            <g><rect fill="none" height="24" width="24" /></g>
            <g>
              <g>
                <path
                  d="M19.78,17.51c-2.47,0-6.57-1.33-8.68-5.43C8.77,7.57,10.6,3.6,11.63,2.01C6.27,2.2,1.98,6.59,1.98,12 c0,0.14,0.02,0.28,0.02,0.42C2.61,12.16,3.28,12,3.98,12c0,0,0,0,0,0c0-3.09,1.73-5.77,4.3-7.1C7.78,7.09,7.74,9.94,9.32,13 c1.57,3.04,4.18,4.95,6.8,5.86c-1.23,0.74-2.65,1.15-4.13,1.15c-0.5,0-1-0.05-1.48-0.14c-0.37,0.7-0.94,1.27-1.64,1.64 c0.98,0.32,2.03,0.5,3.11,0.5c3.5,0,6.58-1.8,8.37-4.52C20.18,17.5,19.98,17.51,19.78,17.51z"
                />
                <path
                  d="M7,16l-0.18,0C6.4,14.84,5.3,14,4,14c-1.66,0-3,1.34-3,3s1.34,3,3,3c0.62,0,2.49,0,3,0c1.1,0,2-0.9,2-2 C9,16.9,8.1,16,7,16z"
                />
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>

    <div id="empty"></div>

    <div id="content">
      <router-view></router-view>
    </div>

    <div id="bottom">
      <router-link to="/search">ПОИСК</router-link>
    </div>
    <div id="footer">
      Русский | English
    </div>
  </div>
</template>

<script>
export default {
  props: {
    theme: {
      type: String
    }
  },
  data() {
    return {
      previousPos: window.pageYOffset
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      let currentPos = window.pageYOffset;
      if (this.previousPos > currentPos) {
        document.getElementById("nav").style.top = "5px";
      } else {
        document.getElementById("nav").style.top = "-4.2rem";
      }
      this.previousPos = currentPos;
    }
  }
};
</script>

<style module>
/* #main {
  position: relative;
  height: 700px;
} */
</style>

<style scoped>
#main {
  padding-top: 0.5rem;
}

#nav {
  position: fixed;
  top: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 350px auto;
  grid-gap: 0;
  justify-items: center;
  align-items: center;
  background-color: var(--back);
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
  transition: top 0.3s;
  z-index: 1;
}
#empty {
  height: 5.5rem;
}

#links {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}
#links * {
  color: var(--text);
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}
#links a.router-link-exact-active {
  color: var(--green);
}
svg {
  margin-top: 0.3rem;
}

#bottom {
  width: 100%;
  margin: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--back);

  -webkit-box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.75);
}
#bottom > a {
  display: inline-block;
  width: 100%;
}

#footer {
  /* position: absolute;
  bottom: 4rem; */
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back);
  margin-bottom: 4rem;
  /* z-index: -1; */
}
/*Магия перестаёт существовать после того, как вы понимаете, как она работает.*/
#content {
  min-height: calc(68vh - 1rem);
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--back);
  color: var(--text);
  outline: none;
}

hr {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 5px solid var(--green);
  width: 100%;
  z-index: 2;
}

/* @media screen and (max-width: 480px) {
  #nav {
    grid-template-columns: 100%;
  }
  #links {
    grid-column: 1;
  }
} */
</style>
