<template>
  <div id="register">
    <div id="head">
      create new account
    </div>
    <div>Name:</div>
    <input required type="text" name="name" id="name" v-model="name" />
    <div>E-mail:</div>
    <input required type="email" name="email" id="email" v-model="email" />
    <div>Password:</div>
    <input
      required
      type="password"
      name="password"
      id="password"
      v-model="password"
    />
    <div>Confirm password:</div>
    <input
      required
      type="password"
      name="confirm"
      id="confirm"
      v-model="confirm"
    />
    <button @click="submit">Submit</button>
    <a @click="$emit('toggleHasAccount')">Want to log in?</a>
  </div>
</template>

<script>
import { API_URL } from "../urls";

export default {
  name: "register",
  data() {
    return {
      name: null,
      email: null,
      password: null,
      confirm: null
    };
  },
  methods: {
    async submit() {
      if (this.confirm != this.password) {
        return window.alert("Passwords are not equal!");
      }
      window.console.log(this.email, this.password, this.name);
      const rawResponse = await fetch(API_URL + "/users/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          email: this.email,
          name: this.name,
          password: this.password
        })
      });
      if (rawResponse.status === 200) {
        const response = await rawResponse.text();
        localStorage.setItem("Authorization", response);
        this.$router.go(-1);
      } else {
        window.alert("Something went wrong. Please, try again");
      }
    }
  }
};
</script>

<style scoped>
#register {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0 solid;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-bottom: 10px;
}
#head {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--green);
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: var(--back);
  color: var(--text);
  outline-color: var(--green);
  padding: 0.2rem;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--back);
  color: var(--green);
  font-size: 1.5rem;
  padding: 0.25rem;
  border: 2px solid;
  width: 80%;
}
button:hover {
  background-color: var(--track);
}
a {
  color: var(--thumb);
}
a:hover {
  color: var(--green);
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  #register {
    position: static;
    -ms-transform: none;
    transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
}
</style>
