<template>
  <div class="rating">
    <div
      class="stars"
      @click="rated(1)"
      @mouseover="hoverRate = 1"
      @mouseleave="hoverRate = rating"
    >
      <span class="filled" v-if="rating >= 1 || hoverRate >= 1">★</span
      ><span class="outlined" v-else>★</span>
    </div>
    <div
      class="stars"
      @click="rated(2)"
      @mouseover="hoverRate = 2"
      @mouseleave="hoverRate = rating"
    >
      <span class="filled" v-if="rating >= 2 || hoverRate >= 2">★</span
      ><span class="outlined" v-else>★</span>
    </div>
    <div
      class="stars"
      @click="rated(3)"
      @mouseover="hoverRate = 3"
      @mouseleave="hoverRate = rating"
    >
      <span class="filled" v-if="rating >= 3 || hoverRate >= 3">★</span
      ><span class="outlined" v-else>★</span>
    </div>
    <div
      class="stars"
      @click="rated(4)"
      @mouseover="hoverRate = 4"
      @mouseleave="hoverRate = rating"
    >
      <span class="filled" v-if="rating >= 4 || hoverRate >= 4">★</span
      ><span class="outlined" v-else>★</span>
    </div>
    <div
      class="stars"
      @click="rated(5)"
      @mouseover="hoverRate = 5"
      @mouseleave="hoverRate = rating"
    >
      <span class="filled" v-if="rating >= 5 || hoverRate >= 5">★</span
      ><span class="outlined" v-else>★</span>
    </div>
  </div>
</template>
<script>
import { API_URL } from "../urls";

export default {
  name: "starRating",
  props: ["recipeId", "recipeLang"],
  data() {
    return {
      rating: 2,
      hoverRate: 0
    };
  },
  methods: {
    async rated(value) {
      this.rating = value;
      if (!localStorage.getItem("Authorization"))
        return this.$router.push("/auth");

      const raw = await fetch(API_URL + "/recipes/rated", {
        method: "PUT",
        headers: {
          "Accept-Language": "en",
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("Authorization")
        },
        body: JSON.stringify({
          _id: this.recipeId,
          language: this.recipeLang,
          rating: this.rating
        })
      });
      if (raw.status !== 200) window.console.log(raw);

      const res = await fetch(API_URL + "/users/rated", {
        method: "PUT",
        headers: {
          "Accept-Language": "en",
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("Authorization")
        },
        body: JSON.stringify({
          _id: this.recipeId,
          language: this.recipeLang,
          rating: this.rating
        })
      });
      if (res.status !== 200) window.console.log(res);
    }
  },
  async mounted() {
    if (localStorage.getItem("Authorization")) {
      const res = await fetch(API_URL + "/users/rated", {
        method: "POST",
        headers: {
          "Accept-Language": "en",
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("Authorization")
        },
        body: JSON.stringify({
          _id: this.recipeId,
          language: this.recipeLang
        })
      });
      if (res.status !== 200) window.console.log(res);
      try {
        const response = await res.json();
        this.rating = response[0].rating;
      } catch (error) {
        this.rating = 0;
      }
    } else {
      this.rating = 0;
    }
  }
};
</script>

<style scoped>
.stars {
  display: inline;
  font-size: 1.5rem;
  cursor: pointer;
}
.filled {
  color: var(--green);
}
.outlined {
  color: var(--thumb);
}
</style>
