<template>
  <div id="app">
    <router-view @change-theme="changeTheme" v-bind:theme="theme"></router-view>
  </div>
</template>

<script>
import "@/assets/main.css";

export default {
  data() {
    return {
      theme: "light"
    };
  },

  mounted() {
    document.getElementsByTagName("html")[0].setAttribute("class", this.theme);
    if (localStorage.getItem("theme")) {
      this.theme = localStorage.getItem("theme");
    }
  },

  watch: {
    theme(value) {
      document.getElementsByTagName("html")[0].removeAttribute("class");
      document.getElementsByTagName("html")[0].setAttribute("class", value);
    }
  },

  methods: {
    changeTheme() {
      if (this.theme === "light") {
        this.theme = "dark";
        localStorage.setItem("theme", "dark");
      } else {
        this.theme = "light";
        localStorage.setItem("theme", "light");
      }
    }
  }
};
</script>

<style>
html {
  color: var(--text);
  background-color: var(--back);
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}

/* html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
 */

#app {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* #nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
} */
</style>
