<template>
  <div id="main">
    <p>Build Your Meal is a website where you can find recipes just by specifying inredients. Unlike in other popular sites, BYM's search suggestions include recipes that have ONLY products you specified. Just open your fidge, type in what's in here and you're ready to cook!</p>
    <br>
    <br>
    <br>
    <p>Note that this is just a learning project written entirely by me, so any help (especially with code), any support and any suggestions are welcome!</p>
  </div>
</template>

<script>
export default {};
</script>

<style>
#main{
  max-width: 800px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
</style>
