<template>
  <div id="add">
    <h1
      contenteditable="true"
      @keydown="pressedEnter"
      @click.once="clearTitle"
      id="title"
    >
      Titlte of new recipe...
    </h1>

    <div id="container">
      <div id="container-col-1">
        <div>Preview:</div>
        <img :src="preview" alt="" style="width: 95%;" />
        <input @change="handleImage" type="file" accept="image/*" />
        <div>Time:</div>
        <input type="time" name="time" id="time" v-model="time" />
      </div>

      <div id="container-col-2">
        <div>
          Ingredients and quantity:
          <div id="ingrVar">
            <div v-for="i in ingredients" :key="i._id">
              <div class="ingrCont">
                <div class="ingredient" @click="removed(i)">
                  {{ i.title }}
                </div>
                <input
                  type="text"
                  name="quantity"
                  :id="'quantity_' + i.title"
                  v-model="i.quantity"
                  placeholder="how much?"
                />
              </div>
              <hr />
            </div>
          </div>
        </div>
        <div>
          <div>
            <input
              type="text"
              placeholder="Search ingredient..."
              v-model="search"
              id="search"
            />
            <div id="prodVar">
              <div
                v-for="i in allIngredients.filter(
                  elem =>
                    elem.title.includes(search.toLowerCase()) && !elem.invisible
                )"
                :key="i.title"
                class="product"
                :style="{ 'border-color': i.color }"
                @click="added(i)"
              >
                {{ i.title }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <wysiwyg v-model="content" style="margin-top: 5px;" />

    <div id="submitcont">
      <button @click="done" id="submit">Submit</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { API_URL } from "../../urls";

export default {
  data() {
    return {
      time: "",
      search: "",
      recipe: {},
      ingredients: [],
      content: null,
      preview: ""
    };
  },
  computed: {
    ...mapGetters(["allIngredients"])
  },
  methods: {
    ...mapActions(["fetchIngr"]),
    added(elem) {
      elem.invisible = true;
      elem.quantity = "";
      this.ingredients.push(elem);
      this.search = "";
    },
    removed(elem) {
      this.allIngredients.find(i => i == elem).invisible = false;
      this.ingredients = this.ingredients.filter(i => i !== elem);
    },

    handleImage(event) {
      let pic = event.target.files[0];
      const reader = new FileReader();
      reader.onload = e => {
        this.preview = e.target.result;
      };
      reader.readAsDataURL(pic);
    },
    pressedEnter(event) {
      if (event.key === "Enter") {
        event.preventDefault();
      }
    },
    clearTitle(event) {
      event.target.innerHTML = "";
      event.target.style.border = "0.5px solid var(--green)";
      event.target.style.outline = "0.5px solid var(--green)";
    },

    async done() {
      if (
        document.getElementById("title").innerText ===
          "Title of new recipe..." ||
        document.getElementById("title").innerText === ""
      ) {
        return window.alert("Please, give your recipe a title");
      }
      if (document.getElementById("title").innerText.length >= 50) {
        return window.alert("Title is too long!");
      }
      if (this.preview === "") {
        return window.alert("Please, add a preview");
      }
      if (this.time === "") {
        return window.alert("Please, add time");
      }
      if (this.ingredients.length === 0) {
        return window.alert("Please, add some ingredients");
      }
      if (this.ingredients.some(i => i.quantity === "")) {
        return window.alert("Please, specify quantity for all ingredients");
      }
      if (this.content === null) {
        return window.alert("You haven't added description");
      }

      this.recipe.title = document.getElementById("title").innerText.trim();
      // this.recipe.title = this.recipe.title.trim()
      // this.recipe.title.replace(/^\s+|\s+$/gm,'');

      this.recipe.preview_src = this.preview;
      this.recipe.ingredients = this.ingredients.map(i => i.title);
      this.recipe.quantity = this.ingredients.map(i => i.quantity);
      this.recipe.time = this.time;
      this.recipe.description_src = this.content;

      const rawResponse = await fetch(API_URL + "/recipes/new", {
        method: "POST",
        headers: {
          "Accept-Language": "en",
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("Authorization")
        },
        body: JSON.stringify({ recipe: this.recipe })
      });
      const response = await rawResponse.json();

      if (rawResponse.status === 200) {
        window.alert("Recipe created sucsessfully!");
        this.$router.push("/recipe/?lang=en&id=" + response);
      } else {
        window.alert("Something went wrong. Please, try again");
      }
    }
  },
  // watch: {
  //     search: function() {
  //         this.allIngredients.filter
  //         window.console.log(this.search)
  //     }
  // },
  mounted() {
    this.fetchIngr();

    document.getElementsByClassName("editr--toolbar")[0].style.backgroundColor =
      "var(--track)";
    document.getElementsByClassName("editr--toolbar")[0].style.position =
      "sticky";
    document.getElementsByClassName("editr--toolbar")[0].style.top = "1rem";
    document
      .getElementsByClassName("editr--toolbar")[0]
      .children.forEach(element => {
        element.children[0].style.color = "var(--text)";
        element.children[0].children[0].setAttribute("fill", "currentColor");
      });
    document.getElementsByClassName("dashboard").forEach(element => {
      element.style.backgroundColor = "var(--track)";
      element.style.padding = "8px 16px";
      element.style.width = "inherit";
    });
    document.getElementsByClassName("vue-dropzone")[0].style.backgroundColor =
      "var(--back)";
    document.getElementsByClassName("vue-dropzone")[0].style.border = "none";
    document.getElementsByClassName("vue-dropzone")[0].style.width = "100%";

    let buttons = document.getElementsByClassName("vw-btn-headings")[0]
      .parentNode.children[1].children[0];
    buttons.removeChild(buttons.children[5]);
    buttons.removeChild(buttons.children[4]);
    buttons.removeChild(buttons.children[3]);
    buttons.removeChild(buttons.children[2]);

    // document.getElementsByClassName('editr--content')[0].setAttribute('class', 'editr--content editorPlace')
  }
};
</script>

<style scoped>
@import "~vue-wysiwyg-fixed/dist/vueWysiwyg.css";

#add {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}
h1 {
  color: var(--green);
}

#prodVar {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.product {
  display: inline-block;
  border: 2px solid;
  border-radius: 15px;
  margin: 10px;
  margin-right: 20px;
  margin-left: 0;
  padding: 5px;
}
.ingredient {
  /* border: 2px solid;
  border-radius: 15px; */
  /* margin: 10px;
  padding: 5px; */
  margin: 0;
  padding: 0;
}
hr {
  margin-top: 1px;
  box-shadow: none;
  border: 0.5px solid #ccc;
}
.ingrCont {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ingrCont > input {
  width: auto;
  height: 1rem;
  border: none;
  text-align: end;
  padding: 0;
}
#search {
  width: 100%;
  font-size: 1.5rem;
}

#container {
  display: grid;
  grid-template-columns: 300px 250px 250px;
  margin-bottom: 5px;
}
#container-col-1 {
  grid-column: span 1;
}
#container-col-2 {
  grid-column: span 2;
}

input {
  color: var(--text);
  background-color: var(--back);
  border: none;
  outline-color: var(--track);
}

#time {
  font-size: 1.5rem;
}

#prodVar::-webkit-scrollbar {
  width: 10px;
}
#prodVar::-webkit-scrollbar-track {
  background: var(--track);
  border-radius: 7px;
}
#prodVar::-webkit-scrollbar-thumb {
  background: var(--thumb);
  /* border: solid 3px #e6e6e6; */
  border-radius: 7px;
}
#prodVar::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

#submitcont {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#submit {
  font-size: 1.5rem;
  border: 3px solid var(--green);
  background-color: var(--back);
  color: var(--green);
}
#submit:hover {
  background-color: var(--track);
}

@media screen and (max-width: 800px) {
  #add {
    margin-left: 5px;
    margin-right: 5px;
  }

  #container {
    display: unset;
  }
}
</style>
