<template>
  <div id="favourites">
    <div id="content">
      <card v-for="i in allFavsRecipesGetter" v-bind:recipe="i" :key="i._id" />
    </div>
    <pageSwitch
      @pageChanged="query = $event"
      :pages="this.$store.state.allRecipes.favsRecipesPages"
    />
    <div @click="logout" style="margin-top: 3rem">Logout</div>
  </div>
</template>

<script>
import card from "../../components/card";
import pageSwitch from "../../components/pageSwitch";
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      query: "?size=12&pageNo=1"
    };
  },
  computed: {
    ...mapGetters(["allFavsRecipesGetter"])
  },
  methods: {
    ...mapActions(["fetchAllFavs", "fetchFavs"]),
    logout(){
      localStorage.removeItem('Authorization')
    }
  },
  mounted() {
    this.fetchAllFavs({
      queryString: this.query
    });
    this.fetchFavs();
  },
  watch: {
    query() {
      this.fetchAll({
        queryString: this.query
      });
    }
  },
  components: {
    card,
    pageSwitch
  }
};
</script>

<style scoped>
#content {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-items: center;
  margin-bottom: 20px;
}
#content * {
  grid-column: span 1;
}

@media screen and (max-width: 1200px) {
  #content {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  #content {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  #content {
    width: 98%;
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
