<template>
  <div id="main">
    <p>Build Your Meal - это сайт, предоставляющий поиск рецептов по ингредиентам. Просто открой холодильник, вбей продукты, которые у тебя есть, и приступай к приготовлению!</p>
    <br>
    <br>
    <br>
    <p>BYM - это учебный проект, написанный одним человеком. Поэтому любая помощь (особенно с кодом) и предложения приветствуются</p>
  </div>
</template>

<script>
export default {};
</script>

<style>
#main{
  max-width: 800px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
</style>
