<template>
  <div id="auth">
    <register v-if="!hasAccount" @toggleHasAccount="hasAccount = true" />
    <login v-else @toggleHasAccount="hasAccount = false" />
  </div>
</template>

<script>
import login from "../../components/login";
import register from "../../components/register";

export default {
  data() {
    return {
      hasAccount: false
    };
  },
  components: {
    login,
    register
  }
  // methods: {
  //     toggleHasAccount(){

  //     }
  // }
};
</script>

<style></style>
