<template>
  <div id="recipe">
    <div id="info">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="1.25rem"
          height="1.25rem"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M15.07 1.01h-6v2h6v-2zm-4 13h2v-6h-2v6zm8.03-6.62l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.14 4.74 14.19 4 12.07 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.11-.74-4.06-1.97-5.61zm-7.03 12.62c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"
          />
        </svg>
        {{ recipe.time }}
      </div>
      <div>Автор: {{ recipe.author }}</div>
      <div>
        {{ recipe.rating }}/5
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M12 7.13l.97 2.29.47 1.11 1.2.1 2.47.21-1.88 1.63-.91.79.27 1.18.56 2.41-2.12-1.28-1.03-.64-1.03.62-2.12 1.28.56-2.41.27-1.18-.91-.79-1.88-1.63 2.47-.21 1.2-.1.47-1.11.97-2.27M12 2L9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2z"
          />
        </svg>
      </div>
      <toggleFav
        id="addToFav"
        v-bind:payload="{
          recipeId: recipe._id,
          recipeLanguage: recipe.language,
          fontColor: 'currentColor'
        }"
      />
    </div>
    <h1>{{ recipe.title }}</h1>
    <img :src="recipe.preview_src" alt="" />

    <div id="ingredients">
      <div class="col">
        <div
          id="ingrTitles"
          v-for="(i, index) in recipe.ingredients"
          :key="index"
        >
          {{ i }}
          <span>|</span>
        </div>
      </div>
      <div class="col">
        <div
          id="ingrQuantity"
          v-for="(i, index) in recipe.quantity"
          :key="index"
        >
          {{ i }}
        </div>
      </div>
    </div>

    <div v-html="recipe.description_src" class="description"></div>
    

    <starRating :recipeId="_id" :recipeLang="language" />

    <div class="addComment">
      <input type="text" name="newComment" id="newComment" v-model="newComment" placeholder="Type your comment...">
      <div class="addNewComment" @click="addComment">прокомментировать</div>
    </div>

    <div class="commentsSection">
      <div class="comment" v-for="(i, index) in recipe.comments" :key='index'>
        <div class="authorName">{{ i.author }}</div>
        <div class="commentText">{{ i.text }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { API_URL } from "../../urls";

import toggleFav from "../../components/toggleFav";
import starRating from "../../components/starRating";

export default {
  props: {
    _id: {
      type: String
    },
    language: {
      type: String
    }
  },
  components: {
    toggleFav,
    starRating
  },
  data() {
    return {
      recipe: {},
      newComment: ''
    };
  },
  async mounted() {
    const res = await fetch(API_URL + "/recipes/id/" + this._id, {
      method: "GET",
      headers: {
        "Accept-Language": this.language
      }
    });
    if (res.status !== 200) return window.console.log(res);
    this.recipe = await res.json();
  },
  methods: {
    async addComment() {
      if (this.newComment.length === 0) return window.alert('Пожалуйста, добавьте комментарий')

      if (!localStorage.getItem("Authorization"))
        return this.$router.push("/auth");

      const rawResponse = await fetch(API_URL + "/recipes/comment", {
        method: "PUT",
        headers: {
          "Accept-Language": "ru",
          "Content-Type": "application/json",
          Authorization: localStorage.getItem("Authorization")
        },
        body: JSON.stringify({
          _id: this.recipe._id,
          language: this.recipe.language,
          text: this.newComment
        })
      });
      const response = await rawResponse.json();
      if (rawResponse.status !== 200) return window.console.log(response.data) && window.alert('Что-то пошло не так');
      this.recipe.comments = response.data
    }
  }
};
</script>

<style scoped>
#recipe {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: var(--green);
}
img {
  width: 100%;
}
#info {
  display: flex;
  justify-content: space-between;
  color: var(--thumb);
}
#info > div > svg {
  vertical-align: -0.25rem;
}
#addToFav {
  padding-top: 0.25rem;
}
#ingredients {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#ingredients > .col:nth-child(1){
  text-align: end;
}
#ingrTitles > span{
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--thumb);
}
#ingredients > .col:nth-child(2){
  text-align: start;
}

.description {
  text-align: start;
  margin-top: 5px;
  color: var(--text);
}

.description >>> img{
  width: 100%;
}

.addComment{
  margin-top: 1rem;
  width: 100%;
  text-align: start;
  font-size: 1.25rem;
}
#newComment{
  background-color: var(--back);
  color: var(--text);
  width: calc(100% - 12px);
  border: 1px solid var(--thumb);
  font-size: 1.25rem;
  padding: 5px;
  outline: none;
}
.addNewComment{
  cursor: pointer;
  border: 1px solid var(--thumb);
  display: inline-block;
  border-top: 0;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--thumb);
  transition: color 0.25s, background-color 0.5s;
}
.addNewComment:hover{
  color: var(--back);
  background-color: var(--thumb);
  transition: color 0.25s, background-color 0.5s;
}

.commentsSection{
  text-align: start;
  margin-top: 10px;
}
.authorName{
  display: inline-block;
  color: var(--green);
  border-bottom: 1px solid var(--track);
}
.commentText{
  color: var(--text);
  border-bottom: 1px solid var(--track);
  border-left: 1px solid var(--track);
  margin-left: 1rem;
  padding-left: 5px;
}

@media screen and (max-width: 800px){
  #recipe{
    margin-left: 5px;
    margin-right: 5px;
  }
}
</style>
