<template>
  <div id="main">
    <div id="content">
      <card v-for="i in resultsGetter" v-bind:recipe="i" :key="i._id" />
    </div>
    <pageSwitch
      @pageChanged="query = $event"
      :pages="this.$store.state.results.pages"
    />
  </div>
</template>

<script>
import card from "../../components/card";
import pageSwitch from "../../components/pageSwitch";

import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
  data() {
    return {
      query: "?size=12&pageNo=1"
    };
  },
  computed: {
    ...mapGetters(["resultsGetter"])
  },
  methods: {
    ...mapActions(["searchByTtl", "fetchFavs", "searchByIngr"]),
    ...mapMutations(["updateQuery"])
  },
  mounted() {
    if (this.$store.state.results.isSearchByIngr) {
      this.searchByIngr();
    } else {
      this.searchByTtl();
    }
    this.fetchFavs();
  },
  watch: {
    query() {
      this.updateQuery({
        queryString: this.query
      });
      if (this.$store.state.results.isSearchByIngr) {
        this.searchByIngr();
      } else {
        this.searchByTtl();
      }
    }
  },
  components: {
    card,
    pageSwitch
  }
};
</script>

<style scoped>
#content {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-items: center;
  margin-bottom: 20px;
}
#content * {
  grid-column: span 1;
}

@media screen and (max-width: 1200px) {
  #content {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  #content {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  #content {
    width: 98%;
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
