/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Raleway:wght@200;300&display=swap');

.light,
.light * {
    --back: white;
    --text: #3d3d3d;
    --green: rgb(0, 235, 117);
    /* --green: #00FF7F; */
    --red: #ff8282;
    --yellow: rgb(245, 229, 150);

    --track: rgb(233, 233, 233);
    --thumb: rgb(185, 185, 185);
    --hover: rgb(116, 116, 116);
}

.dark,
.dark * {
    --back: #2b2b2b;
    /* --text: rgb(252, 252, 252); */
    --text: rgb(201, 201, 201);
    --green: #00ff7f;
    --red: #be5454;
    --yellow: #cdc183;

    --track: #1f1f1f;
    --thumb: rgb(66, 66, 66);
    --hover: rgb(126, 126, 126);
}

a {
    text-decoration: none;
    color: var(--text);
}
a:visited {
    color: var(--text);
}

html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-track {
    background: var(--track);
    /* border-left: 1px solid var(--back); */
    /* border-top: 5px solid var(--green); */
}
html::-webkit-scrollbar-thumb {
    background: var(--thumb);
    /* border: solid 3px #e6e6e6; */
    border-radius: 7px;
}
html::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}
